.post-creation-tc {
  margin: 24px 0;
}

.post-creation-tc__field {
  margin-bottom: 12px;
  width: 110px;
  > label {
    display: block;
    margin-bottom: 4px;
    text-align: center;
  }
}

.post-creation-tc__field+.post-creation-tc__field {
  margin-left: 10px;
}

.post-creation-tc__basic {
  display: flex;
  justify-content: center;
}

.post-creation-tc__equity {
  display: flex;
  justify-content: center;
}

.post-creation-tc__summary {
  text-align: center;
}