.post-card {
  display: block;
  width: 100%;
  background-color: white;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
  border-radius: 6px;
  padding: 12px 20px 8px;
  &:hover {
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  }
}

.post-card__divider {
  width: 100%;
  margin: 8px 0;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.post-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .post-card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 16px 12px 0;
    color: #1e272e;
  }

  .post-card__category {
    font-size: 10px;
    line-height: 10px;
    padding: 4px 6px;
    border-radius: 4px;
    display: inline-block;
    background-color: #d1d8e0;
    color: #4b6584;
    text-align: center;
    min-width: 55px;
  }
}

.post-card__content {
  white-space: pre-wrap;
  overflow: hidden;
  width: 100%;
  max-height: 20px;
  line-height: 20px;
  margin: 0;
  color: #444b51;
}

.post-card__footer {
  display: flex;
  justify-content: space-between;
  .post-card__stats {
    display: flex;
    align-items: center;

    .post-card__stats-icon {
      font-size: 10px;
      color: darkgrey;
      margin-right: 10px;
    }
  }

  .post-card__author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    width: 100px;
    .post-card__author-avatar {
      min-width: 16px;
    }
    .post-card__author-username {
      font-size: 12px;
      line-height: 12px;
      color: black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
