@import '~antd/dist/antd.css';

body {
  background-color: #f0f2f5;
}

.app-container {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  right: 0;
  &.app-container-pushed {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    right: 240px;
    height: 100vh;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      position: absolute;
      top: 50px;
      width: 100%;
      height: calc(100vh - 50px);
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

button > i:first-child:not(:last-child) {
  margin-right: 8px;
}